<div class="container">
  <div class="row">
    <div class="col">
      <button class="btn btn-primary mt-3" routerLink="userdetails">User Details</button>
      <button class="btn btn-primary mt-3 ml-3" routerLink="userprofile">User Profile</button>
      <button class="btn btn-primary mt-3 ml-3" routerLink="viewusers">View all Users</button>
    </div>
  </div>
    <div class="row mt-3">
        <div class="col">
          <!-- <app-userdetails></app-userdetails> -->
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>

