<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <div class="container mt-3">
        <div class="row">
            <!-- <div class="col-md-12"> -->
                    <!-- <nav class="navbar" id="nav_bar" role="navigation"> -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                            <ul class="nav navbar-nav navbar-right">
                                <li style="padding-right: 50px;">
                                    <h2 class="reg-div">
                                        <a href="/">
                                            Login
                                        </a>
                                    </h2>

                                </li>
                            </ul>
                        </div>

                    <!-- </nav> -->
                <!-- </div> -->

        </div>
    </div>

<div id="main" class="mb-3" >
    <div class="main login">
        <form action="" method="post" [formGroup]="registerForm" (ngSubmit)="registerSubmit()">

            <h1>
                Register
            </h1>

            <div class="inset">
                <p>
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstname" formControlName="firstName"  placeholder=""  />
                <p>
                    <!-- <div class="alert alert-danger" *ngIf="firstname.touched && !firstname.valid">First name is required</div> -->
                <p>
                    <label for="lastname">Last Name</label>
                    <input type="text" name="lastname" formControlName="lastname" placeholder="" />
                </p>
                <p>
                    <label for="email">Email Address</label>
                    <input type="text" name="email" formControlName="email" placeholder="" />
                </p>
                <p>
                    <label for="password">Password</label>
                    <input type="password" name="password" formControlName="password" placeholder=""  />
                </p>
                <p>
                    <label for="password">Confirm Password</label>
                    <input type="password" name="password" formControlName="confirmpassword" placeholder="" />
                </p>

            </div>

            <p class="p-container">
                <input type="submit" class="btn btn-primary"  value="Register"  >
            </p>
        </form>
    </div>
</div>



</body>
</html>